fastapi
jinja2
aiofiles
python-multipart
pydantic
beautifulsoup4
pdfminer.six
openpyxl
python-docx
requests
pandas
lxml
ocrmypdf
pytesseract
tf-keras
openai
uvicorn[standard]
PyMuPDF # Includes fitz
transformers
tiktoken
torch