<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/javascript/script.js" defer></script>
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="wrapper">
        <h1>{{ title }}</h1>
        <h3><em>{{subtitle}}</em></h3>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="fileloader">Välj fil att ladda upp:</label><br>
            <input type="file" name="file" id="fileloader" accept=".pdf,.zip" required><br><br>

            <label for="apikey">Ange din OpenAI API-nyckel:</label><br>
            <input type="password" name="apikey" id="apikey" placeholder="sk-..." required><br>
            <small style="display:block; margin-bottom:1rem; color:#666;">
                Din API-nyckel sparas endast i din webbläsare (lokalt) för bekvämlighet.
            </small><br>
              
            <label for="model">Välj GPT-modell:</label><br>
            <select name="model" required>
                <option value="gpt-4o">gpt-4o -- snabbast, billigast, mest kapabel i textförståelse</option>
                <option value="gpt-4-turbo">gpt-4-turbo -- bra fallback</option>
                <option value="gpt-3.5-turbo">gpt-3.5-turbo -- bra för tester, men presterar sämre</option>
            </select><br>

            <label for="download-options">Svarsformat:</label><br>
            <div id="download-options">
                <label><input type="radio" name="format" value="json" checked> JSON</label>
                <label><input type="radio" name="format" value="csv"> CSV</label>
                <label><input type="radio" name="format" value="xlsx"> Excel</label>
                <input type="hidden" name="sources" value="no">
                <label><input type="checkbox" id="sources" name="sources" value="yes" checked> Specificera källor</label>
            </div>

            <button type="submit">Ladda upp och analysera</button>
        </form>
    
        {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}

       {% if download_filename %}
            <div id="download-panel">
                <p><a href="/download/{{ download_filename }}" download>Ladda ner resultatfil</a></p>
                <p><a href="/" class="back-button">⬅️ Tillbaka till start</a></p>
            </div>
        {% endif %}

         <!-- A spinner that spins while executing -->
         <div id="spinner-container">
            <div class="spinner"></div>
            <p>Bearbetar filen...</p>
        </div>
    </div> <!-- Wrapper -->
</body>
</html>
